@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


body {
    text-align: center;
    background: #262;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    color: #fff;
}

h1::selection {
    background: red;
    color: #fff;
}

.square {
    width: 100px;
    height: 100px;
    background-color: darkseagreen;
    border: 1px solid gray;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn {
    background: #3CB371;
    color: #fff;
    padding: 5px 10px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
}